{% load static %}
{% csrf_token %}
<head>
    <link rel="stylesheet" href="{% static 'painter/base.css' %}">
    <link rel="stylesheet" href="{% static 'painter/button.css' %}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script defer src="{% static 'painter/base.js' %}"></script>
    {% block head %}
    {% endblock head %}
</head>
{% block pre %}
{% endblock pre %}
<body>
    <div class="topnav">
        <a href="{% url "landingpage" %}"
           {% if request.resolver_match.view_name == "landingpage" %}class="active"{% endif %}>Home</a>
        <a href="{% url 'createstory' %}"
           {% if request.resolver_match.view_name == "createstory" %}class="active"{% endif %}>Create New Story</a>
        <a href="{% url 'stories' %}"
           {% if request.resolver_match.view_name == "stories" %}class="active"{% endif %}>View All Stories</a>
        <form class="logoutform" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
        <span>Logged in as: {{ user.username }}</span>
    </div>
    <div class="subcontent">
        {% block content %}

        {% endblock content %}
    </div>
</body>
