<body class="container " style="padding-top: 5%;">
    <div class="row">
        <a href={% url 'createcontest' story.pk %}>
            <button>Add Submission</button>
        </a>
        <a href={% url 'closecontest' story.pk %}>
            <button>Close Contest</button>
        </a>
        {% for x in contest_images %}
            <div class="col-md-4">
                <div class="thumbnail">
                    <a href="{% url 'viewimage' story.pk x.pk %}">
                        <img src="{{ x.image.image.url }}" alt="No Image Found" style="width:100%">
                        <div class="caption">
                            <p>{{ x.image.text }}</p>
                        </div>
                    </a>
                    <p>Votes: {{ x.votes }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</body>
