<div>
    <a href={% url 'createcontest' story.pk %}>
        <button>Add Submission</button>
    </a>
    <a href={% url 'closecontest' story.pk %}>
        <button>Close Contest</button>
    </a>
    <form method="post" action="{% url 'votetofinish' story.pk %}">
        {% csrf_token %}
        <button type="submit">Vote to finish this Story</button>
    </form>
    <h4>
        {% if votes_to_close_contest == 1 %}
            1 Vote to finish the story.
        {% else %}
            {{ votes_to_close_contest }} Votes to finish the story.
        {% endif %}
    </h4>
    <div class="story-grid-container">
        {% for x in contest_images %}
            <div class="grid-item">
                <a href="{% url 'viewimage' story.pk x.pk %}">
                    <img src="{{ x.image.image.url }}"
                         alt="No Image Found"
                         width="800"
                         height="600">
                    <div class="caption">
                        <span>{{ x.image.text }}</span>
                    </div>
                </a>
                <span>Author: {{ x.image.created_by.username }}</span>
                <p>Votes: {{ x.votes }}</p>
                <div class="contestimageinteractions">
                    <form method="post" action="{% url 'voteforimage' story.pk x.pk %}">
                        {% csrf_token %}
                        <button class="button-5" type="submit">Vote for this Image</button>
                    </form>
                    {% if x.image.created_by == user %}
                        <form method="post"
                              action="{% url 'deleteimage' story.pk x.pk %}"
                              id="form{{ x.pk }}">
                            {% csrf_token %}
                        </form>
                        <button class="button-5"
                                name="delete_image_button"
                                onclick="delete_image_confirm(form{{ x.pk }})">Delete this Image</button>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
