<body class="container " style="padding-top: 5%;">
    <div class="row">
        <a href={% url 'createcontest' story.pk %}>
            <button>Add Submission</button>
        </a>
        <a href={% url 'closecontest' story.pk %}>
            <button>Close Contest</button>
        </a>
        <h4>
            Votes to close contest: {{ votes_to_close_contest }}
            {% for x in contest_images %}
                <div class="col-md-4">
                    <a href="{% url 'viewimage' story.pk x.pk %}">
                        <img src="{{ x.image.image.url }}" alt="No Image Found" style="width:100%">
                        <div class="caption">
                            <p>{{ x.image.text }}</p>
                        </div>
                    </a>
                    <p>Votes: {{ x.votes }}</p>
                    <a href={% url 'voteforimage' story.pk x.pk %}>
                        <button>Vote for this Image</button>
                    </a>
                </div>
            {% endfor %}
        </div>
    </body>
