{% extends "painter/base.html" %}
{% load static %}
{% block pre %}
    <link rel="stylesheet" href="{% static 'painter/style.css' %}">
    <script defer src="{% static 'painter/painter.js' %}"></script>
{% endblock pre %}
{% block content %}
    <div id="sidebar">
        <div class="colorButtons">
            <h3>Colour</h3>
            <input type="color" id="colorpicker" value="#c81464" class="colorpicker">
        </div>
        <div class="colorButtons">
            <h3>Bg Color</h3>
            <input type="color" value="#ffffff" id="bgcolorpicker" class="colorpicker">
        </div>
        <div class="toolsButtons">
            <h3>Tools</h3>
            <button id="eraser" class="btn btn-default">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            </button>
            <button id="clear" class="btn btn-danger">
                <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span>
            </button>
        </div>
        <div class="buttonSize">
            <h3>
                Size (<span id="showSize">5</span>)
            </h3>
            <input type="range" min="1" max="50" value="5" step="1" id="controlSize">
        </div>
        <h3>Extra</h3>
        <div class="extra">
            <form action={% if create_story %} {% url 'submitstory' %} {% else %} {% url 'submitimage' story_id %} {% endif %} method="post" id="form1">
                {% csrf_token %}
                <input type="hidden" name="canvasData" id="my_hidden">
                {% if create_story %}
                    <label for="story_title">Story Title:</label>
                    <br>
                    <input type="text" id="story_title" name="story_title">
                    <br>
                {% endif %}
                <label for="image_text">Image Description:</label>
                <br>
                <input type="text" id="image_text" name="image_text">
                <br>
                <input type="submit" name="submit_button" value="submit" onclick="save()">
            </form>
            <script>
                function save(){ 
                    var canvas = document.getElementById('canvas');
                    document.getElementById('my_hidden').value = canvas.toDataURL('image/png');
                    document.forms["form1"].submit(); 
                }
            </script>
            {% if submit_error %}
                <a>Error: {{ submit_error }}</a>
            {% endif %}
        </div>
        {% if previous_image %}
            <a href={% url 'viewstory' story_id %}>
                <h4>Previous Image in Story</h4>
            </a>
            <a href="{{ previous_image.image.url }}">
                <img src="{{ previous_image.image.url }}"
                     alt="Error: No Image Found"  width=800 height=600
                     style="width:100%">
            </a>
            <div class="caption">
                <p>{{ previous_image.text }}</p>
            </div>
        {% endif %}
    </div>
{% endblock content %}
