{% extends "painter/base.html" %}
{% block content %}
    <div class="grid-item">
        <h3>{{ story.title }}</h3>
        <a href={% url 'voteforimage' story.pk image.pk %}>
            <button>Vote for this Image</button>
        </a>
        <div >
                <a href="{{ image.image.image.url }}">
                    <img src="{{ image.image.image.url }}"
                         alt="No Image Found"
                         width="800"
                         height="600">
                </a>
                <div class="caption">
                    <p>{{ image.image.text }}</p>
                </div>
        </div>
    </div>
{% endblock content %}
